# This .gitignore file should be placed at the root of your Unity project directory
#
# Get latest from https://github.com/github/gitignore/blob/master/Unity.gitignore
#
# Ignore Everything
/*

# Except for these:
!/.gitignore
!/Assets
!/ProjectSettings
